node_modules
dist
dev-dist
.env
.env.*
coverage
playwright-report/
test-results/
storybook-static/
*.local

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
